body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #e3dede;
}

form {
  background-color: #ffffffd2;
  padding: 30px;
  padding-right:50px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-1 {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-1:hover {
  background-color: #0056b3;
}
